# Logs
logs
*.log
npm-debug.log*

# Used by nyc
.nyc_output
coverage

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

.vscode
jsconfig.json
